<h1>XIn chào các bạn</h1>
<b>
<p style="font-size:160%;"></p>
<p style="color:rgb(0, 255, 72);">Bạn ghét điều gì.</p></b>
<tr>
                            <td width = 500>
                                <input type = checkbox name = 'chkHpbbies' value = 'Ăn'>Học
                             </td>
                             <td width = 500>
                                <input type = checkbox name = 'chkHpbbies' value = 'Nghe nhạc'>Làm
                             </td>
                             <td width = 500>
                                <input type = checkbox name = 'chkHpbbies' value = 'Chơi'>Chơi
                             </td>
                             <td width = 500>
                                <input type = checkbox name = 'chkHpbbies' value = 'Đi du lịch'>Nấu ăn
                             </td>
                        </tr>